<h3>
  Dear <%= @audit.auditor_name %> </h3>
<div>
    You are requested to audit audit.department_name and report on <%= @audit.start_date.strftime("%Y-%m-%d") %> at <%= @audit.start_date.strftime("%H:%M")%>.
</div> 
  
<p>The audit ends on <%= @audit.end_date.strftime("%Y-%m-%d") %> at <%= @audit.end_date.strftime("%H:%M")%>. </p>
 <p>The auditee name is 
   <% if !@audit.auditee_name.nil? %>
     <%= @audit.auditee_name %>
   <%else %>
     <%= "Not yet assigned" %>
   <%end%>  
</p>
<p>The audit will be conducted at <Location name> </p>
  <p>For any clarification or further information please write to <%#= current_user.profile_name%> or call at <user mobile number> </p>
    
<div>
Thanks,
<%#= current_user.profile_name%>
<%#= current_user.email%>
  </div>
