<h4>
  <%= @user.profile_name %>  has sent you an audit schedule. If you wish to communicate any modifications please write to <%= @user.email %> 
</h4>

<% if @audits != [] %>  
  <table style="border:1px solid black;border-collapse:collapse;">
    <tr>
      <th style="border:1px solid; border-color:#7f8c8d; background-color:#95a5a6;">Audit Id</th>
      <th style="border:1px solid; border-color:#7f8c8d; background-color:#95a5a6;">Department</th>
      <th style="border:1px solid; border-color:#7f8c8d; background-color:#95a5a6;">Starts Date</th>
      <th style="border:1px solid; border-color:#7f8c8d; background-color:#95a5a6;">End Date</th>
      <th style="border:1px solid; border-color:#7f8c8d; background-color:#95a5a6;">Auditor</th>
      <th style="border:1px solid; border-color:#7f8c8d; background-color:#95a5a6;">Auditee</th>
      <th style="border:1px solid; border-color:#7f8c8d; background-color:#95a5a6;">Location</th>
    </tr>
    <% @audits.each do |audit|%>
    <tr >
      <td style="border:1px solid; border-color:#7f8c8d;"><%= audit.id %></td>
      <td style="border:1px solid; border-color:#7f8c8d;"><%= audit.department_name %></td>
      <td style="border:1px solid; border-color:#7f8c8d;"><%= audit.start_date.strftime("%d-%m-%y") %></td>
      <td style="border:1px solid; border-color:#7f8c8d;"><%= audit.end_date.strftime("%d-%m-%y") %></td>
      <td style="border:1px solid; border-color:#7f8c8d;"><%= audit.auditor_name %></td>
      <td style="border:1px solid; border-color:#7f8c8d;"><%= audit.auditee_name %></td>
      <td style="border:1px solid; border-color:#7f8c8d;"><%= audit.location %></td>
     </tr>
   <%end%> 
    </table>
  <%else %>
    <div><b>"There are no audits scheduled" </b></div>
  <%end%>

<div>
  <p>From</p>
  <p>77 Comply </p>
</div>
