<div class="container">
  
    <div class="row-fluid">
        <div class="col-lg-2"> 
   
        <small>
        <div class="panel panel-default">
        <div class="panel-heading">         Audits Created         </div>
        <div class="panel-body">
        <span class="col-lg-offset-5"><strong><%= current_user.audits.count %></strong></span>
        </div>
        </div>
        </small>
    </div>
       
        <div class="col-lg-2">  
          <small>
         <div class="panel panel-default">
         <div class="panel-heading">
         Findings created
         </div>
          <div class="panel-body">
           <span class="col-lg-offset-5"><strong><%= Finding.count %></strong></span>
          </div>
          </div>
          </small> 
         </div>
          
         <div class="col-lg-2"> 
           <small>
           <div class="panel panel-default">
         <div class="panel-heading">
         CAPA Pending
         </div>
          <div class="panel-body">
           <span class="col-lg-offset-5"><strong><%= Finding.count %></strong></span>
          </div>
        </div>
           </small>
      </div>
      
      <div class="col-lg-3">
           <small>
           <div class="panel panel-default">
         <div class="panel-heading">
         Open Audits (30 days +)
         </div>
          <div class="panel-body">
           <span class="col-lg-offset-5">
           <a href class="btn btn-link" data-toggle="modal" data-target="#openaudits">
           <strong><%= Finding.count %></strong></a>
            </span>
          </div>
        </div>
             </small>
      </div>
      
       <div class="col-lg-3">
           <small>
           <div class="panel panel-default">
         <div class="panel-heading">
         Upcoming Audits
         </div>
          <div class="panel-body">
           <span class="col-lg-offset-3">
           <a href class="btn btn-link" data-toggle="modal" data-target="#upcomingaudits">
           <%= Finding.count %></a>
            </span>
          </div>
        </div>
             </small>
      </div>
      
  </div>
</div>

                                                                           
     
<div class="modal fade" id="openaudits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Open Audits (Greater than 30 days)</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-responsive">
        <thead>
		
            <tr style="background:#ecf0f1">
		    <th> Audit ID</th>
		    <th>Department name</th>
            <th>Created Date</th>
            <th>Auditor</th>
            <th>Ageing</th>
 	        </tr>
        </thead>
        
        <tbody>
        
        <tr>
		<td> 1 </td>
        <td>Finance</td>
        <td>23 Dec 2013</td>
		<td>Vishant Pai</td>
        <td>38</td>
        </tr>

	    
        </tbody>
      </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="upcomingaudits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Upcoming audits</h4>
      </div>
      <div class="modal-body">
<table class="table table-hover table-responsive">
        <thead>
		
            <tr style="background:#ecf0f1">
		    <th> Audit ID</th>
		    <th>Department name</th>
            <th>Created Date</th>
            <th>Auditor</th>
            <th>Begins on</th>
 	        </tr>
        </thead>
        
        <tbody>
        
        <tr>
		<td> 1 </td>
        <td>Finance</td>
        <td>23 Dec 2013</td>
		<td>Vishant Pai</td>
        <td>27 Jan 2014</td>
        </tr>

	    
        </tbody>
      </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->