<%= simple_form_for(@report, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>
<div class="container">
  
  <div class="col-lg-5 col-lg-offset-1">
  <div class="form-inputs">
  <%#= select_tag "audits[id]", options_for_select(@capa_pending_audits.map { |obj| [obj['id'].to_s+'-'+obj['department_name']+'-'+obj['organiation_name'].to_s, obj['id'].to_s+'-'+obj['department_name']+'-'+obj['organiation_name'].to_s] }),:class=>'form-control' %>    
 <!--<div class="form-control">
   <%#= collection_select(:report, :audit_id, Audit.all, :id, :id) %>
</div>-->

    <div class="form-control">
           <div class="col-lg-12">
            <%= f.select :audit_id, options_for_select(current_user.audits.all.map { |obj| [obj['id'].to_s+'-'+obj['department_name']+'-'+obj['organiation_name'].to_s, obj['id'].to_s+'-'+obj['department_name']+'-'+obj['organiation_name'].to_s] }) %>

          </div>
      </div>


            <%#= f.input :audit_id, collection: current_user.audits.all, label_method: :id, value_method: :id %>

    <br/>
    <%= f.input :report_name %>
    <%= f.input :report_tag %>
    <%= f.input :report_status %>
  </div>
    <div class="input-sm">
      <%= f.file_field :avatar %>
</div>  <br/>
   <div class="form-actions">
    <%= f.button :submit , 'Submit',  class: "btn btn-success btn-sm" %>
  </div>

  </div> 
</div>
<% end %>
