<!DOCTYPE html>
<html>
<head>
  <title>Project management software exclusive to auditors</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 
  <link href='https://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <meta name="description" content="Audit and your audit reports all at one place, audit management system designed and created exclusively for auditors">
  <meta name="keywords" content="audit management software, audit management system, risk assessment process, Audit Management, Auditing, Internal audits, Compliance and Risk Management Software">
  <meta name="author" content="77comply">
  <meta charset="UTF-8">
 
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50206766-1', '77comply.com');
  ga('send', 'pageview');

</script>
  
</head>
<body style="padding-top:50px; font-family: 'Muli', sans-serif;">


<div class="container">

<% if flash[:notice] %>

<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= flash[:notice] %>
</div>


<% end %>

<% if flash[:alert] %>

<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= flash[:alert] %>
</div>


<% end %>

</div>
<br/>
<br/>
<%= yield %>





</body>
</html>
