<!DOCTYPE html>
<html>
<head>
  <title>Project management software exclusive to auditors</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 
<link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="font-family: 'Open Sans', sans-serif">

  <div class="container">
    <h2 class="col-lg-offset-1" href="#" style="font-family: 'Montserrat', sans-serif; color: #e74c3c">77comply</h2>
  </div>
   <div class="container">
  <div class="page-header"></div>
  </div>   
     
  <div class="container">
   <div class="row-fluid">
     <div class="col-lg-12">
   <h2 class="col-lg-offset-1" href="#" style="font-family: 'Lato', sans-serif;">Eliminate stress from audits</h2> 
   <a href="http://white-harbor-rails-62598.apse1.nitrousbox.com/users/sign_up" class="btn btn-danger btn-lg col-lg-offset-1" role="button" >Free till beta, Join now</a>
       <a href="http://white-harbor-rails-62598.apse1.nitrousbox.com/users/sign_in" class="btn btn-success btn-lg" role="button" >Sign in to your account</a>  
    </div>
    </div>
  </div>

  <div class="container">
  <div class="page-header"></div>
  </div> 

  <div class="container">
  <div class="row-fluid">
  
  <div class="col-lg-5 col-lg-offset-1">
    
  <div class="media">
  <a class="pull-left" href="#">
  <%= image_tag("Search.png", :alt => "77comply InstaSearch", :width => '96') %>
  </a>
  <div class="media-body">
  <h3 class="media-heading">Power Search</h3>
  Lets you search with any text contained in audits or findings
  </div>
  </div>
  </div>  
  
  <div class="col-lg-5">
    
  <div class="media">
  <a class="pull-left" href="#">
  <%= image_tag("New.png", :alt => "Audit Insta add", :width => '96') %>
  </a>
  <div class="media-body">
  <h3 class="media-heading">InstaAdd</h3>
  Create Instant audits and findings. Create multiple audits and findings by uploading microsoft excel files
  </div>
  </div>
  </div> 
    
  
  </div> <!-- end row -->
  </div> <!-- end container -->
  
  
<div class="container">

<% if flash[:notice] %>

<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= flash[:notice] %>
</div>


<% end %>

<% if flash[:alert] %>

<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= flash[:alert] %>
</div>


<% end %>

</div>
<br/>
<br/>
<%= yield %>





</body>
</html>
